* {
  margin: 0px;
  padding: 0px;
}

.header-custom {
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #0e6eb8;
}

.body {
  margin: 0 1rem 0 1rem;
}

.player-list-item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1rem 0 1rem 0 !important;
}

.bottom-border {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.top-margin {
  margin: 1em 0 0 0 !important;
}

.bottom-margin {
  margin: 0 0 1em 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0px !important;
}

.align-right {
  text-align: right !important;
}

.right-margin {
  margin-right: 0.25em !important;
}

.red {
  color: #db2828 !important;
}

.white {
  color: white !important;
}

.full-width {
  width: 100% !important;
}

.custom-underline:hover {
  text-decoration: underline !important;
}

.custom-circle {
  border-radius: 50% !important;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 400px) {
  .mobile-hide {
    display: none !important;
  }
}
